@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

img {
    width: 100%;
    border-radius: 12px;
    height: 400px;
    object-fit: cover;
}

body {
    background-color: aqua;
    font-family: 'Raleway', sans-serif;
}

#container {
    max-width: 400px;
    margin: 0 auto;
    
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.card {
    background-color: black;
    padding: 8px;
    border-radius: 12px;
    color: rgb(238, 2, 2);
}

.tag {
    padding: 4px 8px;
    border: 1px solid rgb(34, 250, 52);
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;

}

.name {
    font-size: 24px;
    font-weight: 1200px;

    margin-top: 16px;

}

p {
    font-size: 16px;
    font-weight: 200px;
    line-height: 150%;
}

button {
    border: no;
    padding: 12px 24px;
    background-color: rgb(22, 22, 22);
    color: rgb(248, 66, 66);
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    
}